
/* Hamburger menu styles */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: #000;
    margin: 4px 0;
    transition: 0.4s;
}

/* Responsive design */
@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background: rgba(255, 255, 255, 0.941);
        position: absolute;
        top: 60px; /* Adjust based on your header height */
        left: 0;
        z-index: 1000;
    }
    .navbar-menu.show {
        display: flex;
    }

    .hamburger {
        display: flex;
        position: absolute;
        top: 1px;
        left: 5px
    }

    .navbar-menu {
        top: 30px; /* Adjust this value to align with the hamburger */
        right: 0; /* Align to the right */
    }  
    .hero {
        padding: 5em 0;
        background-attachment: scroll; /* Allow background to scroll on smaller screens */
    }  
    .hero h2,
    .hero p {
        background: rgba(255, 255, 255, 0.8); /* Make text background slightly transparent */
        padding: 10px; /* Add some padding to the text background */
    }
}
