
/* Hamburger menu styles */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: #000;
    margin: 4px 0;
    transition: 0.4s;
}

/* Responsive design */
@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background: rgba(255, 255, 255, 0.941);
        position: absolute;
        top: 60px; /* Adjust based on your header height */
        left: 0;
        z-index: 1000;
    }
    .navbar-menu.show {
        display: flex;
    }

    .hamburger {
        display: flex;
        position: absolute;
        top: 1px;
        left: 5px
    }
/*For side bar with text navigation */
    .sidebar {
        display: none;
        position: absolute;
        width: 200px;
        top: 0;
        left: 0;
        height: 100%;
        background: #f4f4f4;
        z-index: 1000;
    }

    .sidebar.show {
        display: block;
    }    

    .navbar-menu {
        top: 30px; /* Adjust this value to align with the hamburger */
        right: 0; /* Align to the right */
    }  
    .hero {
        padding: 5em 1em; /* Adjust padding for smaller screens */
        height: auto; /* Allow the height to adjust based on content */
        min-height: 100vh; /* Ensure minimum height is the full viewport height */
    }
    .hero h2,
    .hero p {
        background: rgba(255, 255, 255, 0.8); /* Ensure text is readable */
        padding: 10px;
    }
}
