/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main.margin-left {
    margin-left: 220px; /* Adjust this to match the sidebar width */
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    color: #000;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(45deg, rgba(242, 231, 26, 0.881), rgba(238, 225, 47, 0.889), rgba(184, 187, 20, 0.7), rgba(176, 224, 230, 0.7), rgba(224, 238, 238, 0.7), rgba(245, 245, 245, 0.7), rgba(169, 169, 169, 0.7), rgba(112, 128, 144, 0.7));
    background-size: 150% 150%;
    background-attachment: fixed; /* Ensure background is fixed */
    animation: gradient 7s ease infinite;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* Container */
.container {
    width: 100%;
    margin: 0 auto;
}

/* Header styles */
header {
    background: rgba(255, 255, 255, 0.941);
    padding: 1.2em 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2.5em;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 0.5em;
}

header nav ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin: 0 1em;
}

header nav ul li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

header nav ul li a:hover,
header nav ul li a.active {
    text-decoration: underline;
}

/* Hero section with gradient background */
.hero {
    position: relative;
    text-align: center;
    padding: 0;
    background-image: url('images/algarrobo_beach.png') ; /* Set the background image */
    background-size: cover; /* Make sure the image covers the whole section */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    height: 100vh; /* Make the hero section take full viewport height */
    width: 100%; /* Make sure it takes full width */
    text-align: center;
    margin:0;
}

.hero img {
    display: none; /* Hide the img element */
}

.hero h2,
.hero p {
    color: #000; /* Full color text */
    position: relative; /* Ensure z-index works */
    z-index: 10; /* Ensure text is above the image */
    background: rgba(255, 255, 255, 0.8); /* Optional: Add background to make text stand out */
    display: inline-block; /* Ensure background only covers text */
    padding: 10px; /* Optional: Add padding for better readability */
    margin: 10px 0; /* Optional: Adjust margin as needed */
}


.content-section {
    display: none;
}

section {
    margin-bottom: 2em;
}

section p {
    font-size: 1.1em;
    margin: 1em 0;
}

/* Sidebar styles */
.content-wrapper {
    display: flex;
    margin-top: 60px; /* Adjust for fixed header */
}

.sidebar {
    width: 200px;
    background: #f4f4f41f;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    display: none; /* Hide the sidebar by default */
    position: fixed;
    top: 60px; /* Adjust for fixed header */
    left: 0;
    height: auto; /* Fit height to content */
    max-height: calc(100% - 60px); /* Ensure it doesn't exceed viewport */
    overflow-y: auto;
}


.sub-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sub-nav ul li {
    margin-bottom: 10px;
}

.sub-nav ul li a {
    text-decoration: none;
    color: #000; /* Change text color to black */
    display: block;
    padding: 10px 0;
}

.sub-nav ul li a:hover {
    text-decoration: underline; /* Optional hover effect */
}


.content-section {
    margin: 20px 0;
}

.content-section h3 {
    margin-top: 0;
}

.vibrate {
    animation: vibrate 0.3s linear infinite both;
}

@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* The Modal (background) -- opening and closing pictures zoom */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
    
  /* The Close Button for pictures */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
/* Add Animation - Zoom in the Modal */
    .modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
    }
    
    @keyframes zoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
    }
  /*------------------------------*/

  .scroll-offset {
    scroll-margin-top: 70px; /* Adjust this value based on your header height */
}
  

h4 {
    margin-bottom: 10px; /* Adjust the space below the heading if necessary */
    font-size: 1.5em
}

ul {
    padding-left: 20px; /* Indent the list */
    margin-top: 0; /* Remove any top margin to ensure it appears directly under the paragraph */
}

li {
    margin-bottom: 10px; /* Space between each list item */
}

p {
    margin-bottom: 10px; /* Adjust the space below the paragraph */
}